<app-report></app-report>

<div class="card">
  <p-table 
      [value]="vendingMachines" 
      styleClass="p-datatable-striped" 
      [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
              <tr>
                  <th>Ürün Adı</th>
                  <th>Spiral Numarası</th>
                  <th>Satış Adedi</th>
                  <th>Zaman</th>
                  <th>Otomat</th>
                  <th>Ödeme Yöntemi</th>
                  <th>İndirim</th>
                  <th>Satış Fiyatı</th>
                  <th>Sonuç</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-machine>
              <tr>
                <td>{{ machine.productName }}</td>
                <td>{{ machine.spiralNumber }}</td>
                <td>{{ machine.salesCount }}</td>
                <td>{{ machine.time }}</td>
                <td>{{ machine.machineName }}</td>
                <td>{{ machine.paymentMethod }}</td>
                <td [ngStyle]="{color: machine.discount ? '#4caf50' : '#f44336'}">{{ machine.discount ? 'Evet' : 'Hayır' }}</td>
                <td>{{ machine.salesPrice }} ₺</td>
                <td>{{ machine.result }}</td>
              </tr>
          </ng-template>
  </p-table>
</div>



